.conteudo{

    width: 100%;
    background-color: #ECEAC3;
   
}

.apresentacao{

  display: flex;
  background-color: #ECEAC3;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
   padding-top: 20%;

}

.divisao{

      background-color: #ECEAC3;
      align-items: center;
      justify-content: center;
      width: 100%;


}


.img_logo{

   
    display: flex;
      flex-direction: column;
      padding: 3%;
}

.imagem_ms{

    height: 85%;
    width: 100%;
}

.letreiro{

    width: 100%;
 
}




.desenho_indigena{

    bottom: 0;
    position: relative;
    background-color: #ECEAC3;
    width: 100%;
    z-index: 0;

  
  
}

.sessoes_projeto{

   
    color: #000;
     padding: 2%;
      background-color: #FFF;


}
.sessao_linguagens{

   
    color: #000;
     padding: 2%;
     background-color: #ECEAC3;


}



.sessoes {
  display: grid;
  grid-auto-flow: column;
 
  gap: 66px;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px 16px 16px;

  scrollbar-width: none;

  scroll-snap-type: x proximity;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-x: contain;
 
  
}

.sessao {

     height: 500px;
     width: 400px;
    
     background-color: #8A1D1B ;
     border-radius: 12px;
     padding: 16px;
     box-shadow: 0 2px 8px rgba(0,0,0,.08);
     margin: 20px ;
     border-radius: 10px;
     color: #fff;
     justify-content: center;
     align-items: center;
     font-size: xxx-large;
     font-weight: bolder;
    
  
}


.icone_texto_card{

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
  
}




.botoes{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.botao_linguagem{

    display: flex;
    height: 250px;
    width: 250px;
    border-radius: 100%;
     background-color: #8A1D1B ;
     justify-content: center;
     align-items: center;
     margin: 5%;
     margin-top: 5px;
     font-weight: bold;
     color: #fff;
}


.controles-scroll {
    display: flex;
    justify-content: flex-end;
    padding: 5%;
    padding-top: 1%;
    gap: 20px;
    
}

.controles-scroll button {
    background: #333;
    color: white;
    border: 1px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.controles-scroll button:hover {
    background: #555;
}






/************************************************************************************************************************************************************************************************/



@media (min-width: 769px) {

   
  .img_logo{

    flex-direction: row;
  }


.imagem_ms{

    height: 85%;
    width: 50%;
}

.letreiro{

    width: 50%;
 
}

.apresentacao{

 
   padding-top: 4%;

}

.botoes{
    flex-direction: row;
}
.botao_linguagem{

   
    height: 250px;
    width: 250px;
   
}






}